# User service for rclone mounting
#
# Place in ~/.config/systemd/user/
# File must include the '@' (ex rclone@.service)
# As your normal user, run
#   systemctl --user daemon-reload
# You can now start/enable each remote by using rclone@<remote>
#   systemctl --user enable --now rclone@dropbox

[Unit]
Description=rclone: %i
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=-sudo /usr/bin/mkdir -p /mnt/%i
ExecStartPre=-sudo chown %u:%g /mnt/%i
ExecStart= \
  /usr/bin/rclone mount \
    --config=%h/.config/rclone/rclone.conf \
    --vfs-cache-mode full \
    --vfs-cache-max-size 100M \
    --log-level INFO \
    --umask 022 \
    %i: /mnt/%i
ExecStop=/bin/fusermount -u /mnt/%i

[Install]
WantedBy=default.target
