let g:EasyMotion_do_mapping = 0
let g:EasyMotion_smartcase = 1
let g:EasyMotion_enter_jump_first = 1
let g:EasyMotion_space_jump_first = 1
let g:EasyMotion_startofline = 0

set NERDTree
set ReplaceWithRegister
set argtextobj
set easymotion
set exchange
set highlightedyank
set multiple-cursors
set surround
set textobj-indent

set iskeyword+=-
set incsearch
set hlsearch
set ignorecase
set smartcase
set scrolloff=8
set ideajoin
set idearefactormode=keep
set lookupkeys+=<C-K>

let g:argtextobj_pairs="[:],(:),{:},<:>"

nmap q <Action>(CloseContent)

nmap <Space>E :NERDTreeFind<CR>
nmap <Space>v <Action>(Tool_External Tools_neovim)

" Find
nmap <Space>fc <Action>(GotoAction)
nmap <Space>ff <Action>(GotoFile)
nmap <Space>fr <Action>(RecentFiles)
nmap <Space>ft <Action>(FindInPath)

" Git
nmap <Space>gg <Action>(ActivateVersionControlToolWindow)
nmap <Space>gh <Action>(Vcs.ShowTabbedFileHistory)
nmap <Space>gl <Action>(Annotate)
nmap <Space>gp <Action>(VcsShowCurrentChangeMarker)
nmap <Space>gr <Action>(Vcs.RollbackChangedLines)
nmap <Space>gj <Action>(VcsShowNextChangeMarker)
nmap <Space>gk <Action>(VcsShowPrevChangeMarker)
nmap <Space>gR <Action>(ChangesView.Revert)

" Code
nmap <Space>cf <Action>(SilentCodeCleanup)
nmap <Space>cr <Action>(RenameElement)
vmap <Space>cj <Action>(RiderCompactFormatCode)
vmap <Space>cs <Action>(RiderSpaciousFormatCode)
nmap <Space>lr <Action>(FindUsages)
nmap gh <Action>(QuickImplementations)
nmap gl <Action>(ShowErrorDescription)
nmap gcc <Action>(CommentByLineComment)
vmap gc <Action>(CommentByLineComment)
vmap gb <Action>(CommentByBlockComment)

nmap <S-h> <Action>(PreviousTab)
nmap <S-l> <Action>(NextTab)

" Folds
nmap zff <Action>(RiderCollapseToDefinitions)
nmap zfc <Action>(RiderCollapseToDefinitions)

" Surrounds
nmap <Space>' cs"'
nmap <Space>( ds)
nmap <Space>) csb)
nmap <Space>< ds>
nmap <Space>> csb>
nmap <Space>[ ds]
nmap <Space>] csb]
nmap <Space>{ ds}
nmap <Space>} csb{
nmap <Space>" cs'"
vmap <Space>' S'
vmap <Space>> S>
vmap <Space>] S]
vmap <Space>) S)
vmap <Space>} S{
vmap <Space>" S"

" Center after movement
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-f> <C-f>zz
nnoremap <C-b> <C-b>zz
nnoremap n nzz
nnoremap N Nzz

inoremap <Esc> <Esc>`^

" Insert blank lines
inoremap <S-Enter> <Esc>mzo<Esc>`za
inoremap <C-Enter> <Esc>mzO<Esc>`za
nmap <S-CR> <Action>(EditorStartNewLineBefore)

nnoremap Q q
nnoremap <Esc> :noh<CR><Esc>
nnoremap <BS> :noh<CR>
vnoremap > >gv
vnoremap < <gv
" yank line character-wise without indent
nnoremap Y _y$
noremap ,. <C-u>
noremap ,/ <C-d>
noremap ,, ,
nnoremap ,vb <C-v>
nnoremap ,p "+p
nnoremap ,P "+P
nnoremap ,r <C-r>
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <Space>wh <C-w>h
nnoremap <Space>wl <C-w>l
nnoremap <Space>wj <C-w>j
nnoremap <Space>wk <C-w>k
nnoremap <Space>ws <C-w>s
nnoremap <Space>wv <C-w>v
nnoremap <Space><Space>- <C-w>s
nnoremap <Space><Space>\ <C-w>v
nmap <Space>w] <C-w>sgd
imap <C-p> <Action>(HippieCompletion)
imap <C-n> <Action>(HippieBackwardCompletion)
map <A-k> <Action>(MoveLineUp)
map <A-j> <Action>(MoveLineDown)
map <A-h> <Action>(MoveElementLeft)
map <A-l> <Action>(MoveElementRight)
" vnoremap p "_dP
vnoremap gs :sort i<CR>
vnoremap ,y "+y
vnoremap <Space>sl :sort iu<CR>
vnoremap <Space>su :sort iu<CR>
vnoremap <Space>sn :sort in<CR>

map <Space>/ <Plug>(easymotion-f2)
map <Space>? <Plug>(easymotion-F2)

nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence
nmap <A-n> <Plug>AllWholeOccurrences
xmap <A-n> <Plug>AllWholeOccurrences
nmap g<A-n> <Plug>AllOccurrences
xmap g<A-n> <Plug>AllOccurrences

nnoremap [p O<C-r>"<Esc>
nnoremap ]p o<C-r>"<Esc>
nnoremap <Space>pb a <C-r>" <Esc>
nnoremap <Space>pe a<C-r>" <Esc>
nnoremap <Space>ps a <C-r>"<Esc>
nnoremap <Space>Pb i <C-r>" <Esc>
nnoremap <Space>Pe i<C-r>" <Esc>
nnoremap <Space>Ps i <C-r>"<Esc>
nnoremap [<Space> mzO<Esc>`z
nnoremap ]<Space> mzo<Esc>`z
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap [m <Action>(MethodUp)
nmap ]m <Action>(MethodDown)
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [q <Action>(PreviousOccurence)
nmap ]q <Action>(NextOccurence)
vmap . <Action>(ReSharperSelectContainingDeclaration)
map <Enter> <Action>(EditorSelectWord)
xmap <S-Enter> <Action>(EditorUnSelectWord)

vnoremap al :<C-u>norm!0v$<CR>
vnoremap il :<C-u>norm!^vg_<CR>
nmap yal valy
nmap yil vily
nnoremap dal dd
nmap dil vild
nnoremap cal ddi
nmap cil vilc

" Text objects for delimiters.
nnoremap ci/ T/ct/
nnoremap ca/ F/ct/
nnoremap ci, T,ct,
nnoremap ca, F,ct,
nnoremap ci. T.ct.
nnoremap ca. F.ct.
nnoremap ci_ T_ct_
nnoremap ca_ F_ct_
nnoremap ci- T-ct-
nnoremap ca- F-ct-
nnoremap ci% T%ct%
nnoremap ca% F%ct%
nnoremap ci= T=ct=
nnoremap ca= F=ct=
nnoremap ci? T?ct?
nnoremap ca? F?ct?
nnoremap ci! T!ct!
nnoremap ca! F!ct!
nnoremap ci& T&ct&
nnoremap ca& F&ct&
nnoremap di/ T/dt/
nnoremap da/ F/dt/
nnoremap di, T,dt,
nnoremap da, F,dt,
nnoremap di. T.dt.
nnoremap da. F.dt.
nnoremap di_ T_dt_
nnoremap da_ F_dt_
nnoremap di- T-dt-
nnoremap da- F-dt-
nnoremap di% T%dt%
nnoremap da% F%dt%
nnoremap di= T=dt=
nnoremap da= F=dt=
nnoremap di? T?dt?
nnoremap da? F?dt?
nnoremap di! T!dt!
nnoremap da! F!dt!
nnoremap di& T&dt&
nnoremap da& F&dt&
nnoremap vi/ T/vt/
nnoremap va/ F/vt/
nnoremap vi, T,vt,
nnoremap va, F,vt,
nnoremap vi. T.vt.
nnoremap va. F.vt.
nnoremap vi_ T_vt_
nnoremap va_ F_vt_
nnoremap vi- T-vt-
nnoremap va- F-vt-
nnoremap vi% T%vt%
nnoremap va% F%vt%
nnoremap vi= T=vt=
nnoremap va= F=vt=
nnoremap vi? T?vt?
nnoremap va? F?vt?
nnoremap vi! T!vt!
nnoremap va! F!vt!
nnoremap vi& T&vt&
nnoremap va& F&vt&
nnoremap yi/ T/yt/
nnoremap ya/ F/yt/
nnoremap yi, T,yt,
nnoremap ya, F,yt,
nnoremap yi. T.yt.
nnoremap ya. F.yt.
nnoremap yi_ T_yt_
nnoremap ya_ F_yt_
nnoremap yi- T-yt-
nnoremap ya- F-yt-
nnoremap yi% T%yt%
nnoremap ya% F%yt%
nnoremap yi= T=yt=
nnoremap ya= F=yt=
nnoremap yi? T?yt?
nnoremap ya? F?yt?
nnoremap yi! T!yt!
nnoremap ya! F!yt!
nnoremap yi& T&yt&
nnoremap ya& F&yt&

sethandler <A-n> a:ide
sethandler <A-p> a:ide
sethandler <A-x> a:ide
sethandler <C-/> a:ide
sethandler <C-;> a:vim
sethandler <C-a> a:vim
sethandler <C-b> a:vim
sethandler <C-c> a:vim
sethandler <C-d> a:vim
sethandler <C-e> a:vim
sethandler <C-f> a:vim
sethandler <C-g> a:vim
sethandler <C-h> a:vim
sethandler <C-i> a:vim
sethandler <C-j> a:vim
sethandler <C-k> a:vim
sethandler <C-l> a:vim
sethandler <C-m> a:vim
sethandler <C-n> a:vim
sethandler <C-o> a:vim
sethandler <C-p> a:vim
sethandler <C-q> a:ide
sethandler <C-r> a:vim
sethandler <C-S-2> a:vim
sethandler <C-S-;> a:vim
sethandler <C-S-CR> a:vim
sethandler <C-s> a:ide
sethandler <C-t> a:vim
sethandler <C-u> a:vim
sethandler <C-v> a:vim
sethandler <C-w> a:vim
sethandler <C-x> a:vim
sethandler <C-y> a:vim
sethandler <C-[> a:vim
sethandler <C-\> a:vim
sethandler <C-]> a:vim
sethandler <S-CR> a:vim
sethandler <S-Esc> a:vim
sethandler <S-Tab> a:vim
