[Container]
Image=docker.io/library/postgres:17
AutoUpdate=registry
PublishPort=5432:5432
Volume=postgres:/var/lib/postgresql/data
SecurityLabelDisable=true
Environment=POSTGRES_PASSWORD=postgres
UIDMap=999:0:1
UIDMap=0:1:1

[Service]
ExecStartPre=-podman volume create postgres
ExecStartPre=-chattr +C %h/.local/share/containers/storage/volumes/postgres
Restart=always

[Install]
WantedBy=default.target
